body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #0079b5, #06f1ff);
}

div {
    width: 250px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 20px;
}

img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.hub {
    font-family: serif;
}

p {
    font-family: calibi;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}

h1 span {
    font-weight: bold;
}

.welcome {
    font-family: cursive;
    font-size: 20px;
    margin: 10px 0;
}

button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: cambria;
}

button:hover {
    background-color: #0079b5;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #00aaff;
    padding-bottom: 2px;
}